Search in the blacklist log:<br />
<form method=post>
<input type='hidden' name='action' value='blacklist'>
<div class="tab_panel" id="tab_detail" style='border-top: 1px solid black; text-align: center'>
<input type='hidden' name='w' value='ip'>
IP Address: <input type='text' name='addr'><br />
<input type=submit value='Search for this address'>
</div>
</form>


