<OBJECT 
	classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
	width="__WIDTH__" 
	height="__HEIGHT__" 
	id="charts735460494" ALIGN="middle">
	<PARAM NAME="movie" 
	VALUE="charts.swf?s=__WIDTH__&stage_height=__HEIGHT__&library_path=charts_library&xml_source=__SOURCE__">
	<PARAM NAME="quality" VALUE="high">
	<param name="allowScriptAccess" value="sameDomain" />
	<PARAM NAME="bgcolor" VALUE="__BGCOLOR__">
	<EMBED 
		src="charts.swf?stage_width=__WIDTH__&stage_height=__HEIGHT__&library_path=charts_library&xml_source=__SOURCE__" 
		quality="high" 
		bgcolor="__BGCOLOR__" 
		width="__WIDTH__" 
		height="__HEIGHT__" 
		NAME="charts735460494" 
		ALIGN="middle" 
		allowScriptAccess="sameDomain"  
		TYPE="application/x-shockwave-flash" 
		PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
	</EMBED>
</OBJECT>