<graph 
	xaxisname='__XNAME__' 
	yaxisname='__YNAME__' 
	caption='__TITLE__'  
	lineThickness='1' 
	animation='0' 
	showLimits='1' 
	decimalPrecision='1' 
	limitsDecimalPrecision='0' 
	showNames='1' 
	showValues='1'  
	showLegend='1' 
	showAnchors='1'>
	__OPTIONS__
</graph>
