<HTML>
<head>
<title>Hawk Web Interface ver. __VER__</title>
<style>
BODY {
	font-family: Arial;
	font-size: 14px;
	color: Black;
}
A  {
	text-decoration: none;
	font-weight: bold;
	color: Black;
}
A:hover {
	color: Blue;
}
TD {
	text-align: center;
}
.menu {
	position: absolute;
	width: 60px;
	height: 20px;
	margin-left: 0px;
	margin-top: -2px;
	visibility: hidden;
	padding-left: 2px;
	padding-right: 2px;
}
.leftC {
	border-left: 1px solid Black;
	border-top: 1px solid Black;
	padding-left: 4px;
	padding-right: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.rightC {
	border-left: 1px solid Black;
	border-right: 1px solid Black;
	border-top: 1px solid Black;
	padding-left: 4px;
	padding-right: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.tab_menu {
  font-weight: bold;
  background-color:lightyellow;
  border-top: 1px solid Black;
  width:140;
  height:18;
  text-align:center;
  color:blue;
  font-size:11px;
  font-family:verdana;
}

.tab_panel {
  border-bottom: 1px solid Black;
  border-right:1px solid Black;
  border-left:1px solid Black;
  font-size:10px;
  font-family:verdana;
  background-color: #ffffce;
}

.tr {
	margin-top: 5px;
	margin-bottom: 2px;
}
.td-top {
	padding-left: 3px;
	padding-right: 4px;
	border-right: 1px solid Black;
	border-bottom: 1px solid Black;
}
.td0 {
	padding-left: 3px;
	padding-right: 4px;
	border-right: 1px solid Black;
}

.broots {
  border: 1px solid Black;
  font-size:10px;
  font-family:verdana;
  background-color: #ffffce;
}
</style>
</head>
<h2>Hawk Web Interface ver. __VER__</h2>
<hr>
<a href="/hawk-master.pl">Back to master interface</a><br />
Menu : 
<a href="?action=listbroots">list broots</a> | 
<a href="?action=listfailed"> list failed</a> |
<a href="?action=summary">summary reports</a> |
<a href="?action=search">search</a> |
<a href="?action=blacklist">blacklist</a> 
<hr>
