Statistics from all servers:<br />
<table cellspacing=0 cellpadding=0 class='broots'>
<tr>
  <td class='td-top' colspan=2>Last 1 hour</a></td>
  <td class='td-top' colspan=2>Last 1 day</td>
  <td class='td-top' colspan=2>Last 7 days</td>
</tr>
<tr>
  <td class='td-top'>failed</td>
  <td class='td-top'>brutes</td>
  <td class='td-top'>failed</td>
  <td class='td-top'>brutes</td>
  <td class='td-top'>failed</td>
  <td class='td-top'>brutes</td>
</tr>
<tr>
  <td class='td-top'>__FAILED0__</a></td>
  <td class='td-top'>__BRUTES0__</td>
  <td class='td-top'>__FAILED1__</a></td>
  <td class='td-top'>__BRUTES1__</td>
  <td class='td-top'>__FAILED2__</a></td>
  <td class='td-top'>__BRUTES2__</td>
</tr>
</table>
<br />
Statistics per server:
<table cellspacing=0 cellpadding=0 class='broots'>
<tr>
  <td class='td-top'>Date</td>
  <td class='td-top'><a href="?sort=6">Server</a></td>
  <td class='td-top' colspan=2>Last 1 hour</a></td>
<!--  <td class='td-top' colspan=2>Last 1 day</td>
  <td class='td-top' colspan=2>Last 7 days</td> -->
  <td class='td-top' colspan=2>Blocked active</td>
  <td class='td-top' colspan=2>Blocked removed</td>

</tr>
<tr>
  <td class='td-top' colspan=2>&nbsp;</td>
  <td class='td-top'><a href="?sort=0">failed</a></td>
  <td class='td-top'><a href="?sort=1">brutes</a></td>
<!--  <td class='td-top'><a href="?sort=2">failed</a></td>
  <td class='td-top'><a href="?sort=3">brutes</a></td>
  <td class='td-top'><a href="?sort=4">failed</a></td>
  <td class='td-top'><a href="?sort=5">brutes</a></td> -->
  <td class='td-top'><a href="?sort=7">Last hour</a></td>
  <td class='td-top'><a href="?sort=8">Last day</a></td>
  <td class='td-top'><a href="?sort=9">Last hour</a></td>
  <td class='td-top'><a href="?sort=10">Last day</a></td>
</tr>
__CONTENTS__
</table>