Failed attempts by hour(last 24 hours only):<br />
<table cellspacing=0 cellpadding=0 class='broots'>
<tr>
  <td class='td-top'><a href="?action=listfailed&order=0">Date</a></td>
  <td class='td-top'><a href="?action=listfailed&order=1">IP Address</td>
  <td class='td-top'><a href="?action=listfailed&order=2">Service</td>
  <td class='td-top'><a href="?action=listfailed&order=3">User</td>
</tr>
__CONTENTS__
</table>