[Unit]
Description=Hawk IDS/IPS daemon
After=network.target

[Service]
Type=forking
User=hawk

# Disable OOM kill for this process
OOMScoreAdjust=-1000

ExecStart=/usr/sbin/hawk.pl

TimeoutSec=15

[Install]
WantedBy=multi-user.target
